body{
  display: grid;
  grid-template-areas:
  "haus haus haus haus haus"
  "valmynd valmynd valmynd valmynd valmynd"
  "vinstri adal adal adal haegri"
  "fotur fotur fotur fotur fotur";
  background-color: rgb(15,44,100);
  color: white;
  background-image: url('Witcher3-Backround.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Times New Roman', Times, serif
  font-size: "6";
}


.header{
  grid-area: haus;
  color: red;
  border: 2px solid red;
  text-align: center;
  font-style: inherit;
  
}
.valmynd{
  grid-area: valmynd;
  border: 2px solid red;
  text-align: center;
}
.vinstri{
  grid-area: vinstri;
  border: 2px solid red;
}
.adal{
  grid-area: adal;
  border: 2px solid red;

}
.haegri{
  grid-area: haegri;
  border: 2px solid red;

}
.fotur{
  grid-area: fotur;
  border: 2px solid red;
  text-align: center;
  color: red;
}
.color{
  color: white;
}
a:link {
  color:white;
}
a:visited {
  color: lightgrey;
}
.audio{ display:none}