h1{
    color:black;
}
body{
    color: black;
}
body{
    background: white;
    padding-left: 5px;
}
.haus{
    color: blue;
    font-family: Arial;
    text-align: center;
    font-style: italic;
}
.rauður{
    color: red;
    
}
.border{
    border: 5px solid;
    margin: 0px auto;
    width: 800px;
}
.elvis{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
    
}
.texti{
    font-family: Arial, Helvetica, sans-serif;

}
.italic{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.dark{
    color: darkred;
    font-style: inherit
}
.green{
    color: limegreen;
}